data/*
!data/mapping.json

# dist/cli/xc/*
# dist/web/xc/*

# Credentials
oauth_*.json
hs256.json

vendor/*

addons
addons/
addons/**

.idea
.intellij
*.iml

.vscode/

*.log
*.exe

.DS_Store

./dist

vendor
vendor/
vendor/*

# Credentials
oauth_*.json
hs256.json

vendor/*
#### joe made this: http://goel.io/joe

#### go ####
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Not used yet
# darwin
# freebsd
# openbsd
# windows
# freebsd
# netbsd
# plan9
# dragonfly
# nacl
# solaris
# android
# Dockerfile
